.sidebar{
    display: none;

}
.evalogo{
   text-decoration: none;
   font-size: larger;
}
@media screen and (max-width: 992px) {
    .sidebar {
    display: block;
      
       
       
      
  }
  }