.productList{
    flex: 6.5;
}

.productListItem{
    display: flex;
    align-items: center;
}

.productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .BtnListEdit{
    width: 100px;
    border: none;
    background-color: cadetblue;
    height: 35px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 20px;
}


.BtnListDelete{
    width: 32px;
    height: 32px;
    color: rgb(139, 21, 21);
    cursor: pointer;
    }