.NewSideBarBar{
  height: 400vh;
  position: fixed;
  z-index: 1000;
 margin-top: 6px;
}
.SideBarMainIcon{
  margin-top: 10px;
}
@media screen and (max-width: 992px) {
  .NewSideBarBar {
     display: none;
    
}
}