.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.featuredItem{
    flex: 1;
    margin: 0px 20px;
    padding: 20px;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-top: 20px;
}
.featuredTitle{
    font-size: 18px;
    font-weight: 800;
}
.featuredMoneyContainer{
    display: flex;
    margin: 10px 0px;
    align-items: center;
}
.featuredMoney{
    font-size: 18px;
    font-weight: 600;
}
.featuredMoneyRate{
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    color: red;
}
.featuredMoneyRateCost{
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    color: green;
}
.featuredSub{
    font-size: 15px;
    color: gray;
    font-weight: 500;
}