.User{
    flex: 6.5;
    padding: 20px;
  
    margin: 20px;
}
.UserTitleContainer{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 20px;
}
.Createbtn{
    width: 100px;
    height: 40px;
    border: none;
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.UserContainer{

display: flex;   
} 
.UserShow{
    flex: 1;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    border-radius: 10px;
    padding: 20px;
}
.UserUpdate{
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    border-radius: 10px;
    flex: 2;
    padding: 20px;
    margin-left: 20px;
}
.UserShowTop{
    display: flex;
    align-items: center;
    
}
.UserImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
}
.UserTitleAll{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
}
.UserShowTitle{
    font-size: 18px;
    padding: 5px;
   color: brown;
    font-weight: 600;
}
.UserShowInfo{
   display: flex;
   padding: 5px; 
   font-size: 16px;
    font-weight: 500;
   
   
}
.UserShowInfoTitle{
    margin-left: 10px;
}