.Brands{
   padding-top: 10px;
}
.image >img{
    height:50px;
    width: 70px;
}
.tabletext{
   
    font-weight: 600;
  
}

.icon{
    margin-right:  20px;
}
.BrandTable{
     box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    border-radius: 10px;
   overflow-x: scroll;
   
}
.BrandsbtnGroup{
    display: flex;
   justify-content: space-between;
   margin: 20px;
}
.BrandBtn{
    background-color: brown;
    padding: 15px;
    width: 200px;
    height: 40px;
    border: none;
    color: white;
    font-weight:500;
    font-size: 15px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
   
}


