.Brands{
    flex: 6.5;
    margin: 20px;
    padding: 20px;
 
  
   
}
.BrandTable{
     box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    border-radius: 10px;
    height: 75vh;
}
.BrandsbtnGroup{
    display: flex;
   justify-content: space-between;
   margin: 20px;
}
.BrandBtn{
    background-color: brown;
    padding: 15px;
    width: 200px;
    height: 40px;
    border: none;
    color: white;
    font-weight:500;
    font-size: 15px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
   
}
.BrandListImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
